<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Tusson</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/static/js/script.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Tusson</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% block nav %}
        {% endblock nav %}
            <div class="navbar-text" style="width: 260px; text-align: center;">
                Всего терминалов : {{ count_all_terminals }} 
            </div>
            <a class="btn btn-outline-success" href="save/" role="button">Сохранить</a>
      </div>
    </nav>

    {% block content %}

    {% endblock content %}

    {% if display == 'none' %}
    <div class="search_info" style="display: none;">
    {% endif %}
    {% if display == 'block' %}
    <div class="search_info" style="display: block; background: #212529; color: #9e9e9e; height: 95%; width: 23%;">
    {% endif %}

        {% block clearbutton %}  {% endblock clearbutton %}

        <h5>Количество найденных терминалов : {{ count_search_terminals }}</h5>

        {% if search_terminal_names != None %}
            <div class="search_name">
                <h5>Инормация о названиях найденных терминалов:</h5>
                <ul>
                    {% for key, value in search_terminal_names %}
                        <li>{{ key }} : {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if search_terminal_parts != None %}
            <div class="search_parta">
                <h5>Информация о партнерах найденных терминалов:</h5>
                <ul>
                    {% for key, value in search_terminal_parts %}
                        <li>{{ key }} : {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if search_terminal_zones != None %}
            <div class="search_zone">
                <h5>Информация о зонах найденных терминалов:</h5>
                <ul>
                    {% for key, value in search_terminal_zones %}
                        <li>{{ key }} : {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div id="map" style="z-index: 0"></div>

    <script type="text/javascript">
        let map;
        var markers = [];
        var coordinate_check_dict = {};

        var availableparts = '{{ availablecparta|safe }}'.replace('[','').replace(']','').replace('"','')
        availableparts = availableparts.split('", "')

        var availablezones = '{{ availablezona_name|safe }}'.replace('[','').replace(']','').replace('"','')
        availablezones = availablezones.split('", "')


        var availableinrs = '{{ availableinr|safe }}'.replace('[','').replace(']','').replace('"','')
        availableinrs = availableinrs.split('", "')

        var availablenames = '{{ availablecname|safe }}'.replace('[','').replace(']','').replace('"','')
        availablenames = availablenames.split('", "')

        var availableadres = '{{ availablecadres|safe }}'.replace('[','').replace(']','').replace('"','')
        availableadres = availableadres.split('", "')

        var availabletypes = '{{ availablectype|safe }}'.replace('[','').replace(']','').replace('"','')
        availabletypes = availabletypes.split('", "')

        var availablebanks = '{{ availablecbank|safe }}'.replace('[','').replace(']','').replace('"','')
        availablebanks = availablebanks.split('", "')

        var availablectids = '{{ availablectid|safe }}'.replace('[','').replace(']','').replace('"','')
        availablectids = availablectids.split('", "')

        var availablecunns = '{{ availablecunn|safe }}'.replace('[','').replace(']','').replace('"','')
        availablecunns = availablecunns.split('", "')

        var availablecvsobas = '{{ availablecvsoba|safe }}'.replace('[','').replace(']','').replace('"','')
        availablecvsobas = availablecvsobas.split('", "')

        var availablegorod = '{{ availablecgorod|safe }}'.replace('[','').replace(']','').replace('"','')
        availablegorod = availablegorod.split('", "')



        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 53.904789501846196, lng: 27.553534868069242 },
            zoom: 6,
        });

            {% for i in terminals %}


                    var check_lat = '{{i.lat}}';
                    var check_lng = '{{i.lng}}';
                    var check = true;
                    for (const [key, value] of Object.entries(coordinate_check_dict)) {
                          if (key == check_lat && value == check_lng) {
                            check = false;
                          }
                    }

                    if (check) {
                        var infoWindow = new google.maps.InfoWindow();
                        var marker = new google.maps.Marker({
                            map : map,
                            position : {lat: parseFloat('{{ i.lat }}'), lng: parseFloat('{{ i.lng }}')},
                            title : '{{ i.cparta }}, {{ i.zona_name }}'
                        });
                        markers.push(marker);
                        coordinate_check_dict[marker.getPosition().lat()] = marker.getPosition().lng();

                        var infolist = [];

                        {% for j in terminals %}

                            {% if i.lat == j.lat and i.lng == j.lng %}
                                infolist.push(" <p> " + "{{ j.ctid }}" + " </p> " + "{{j.cparta}}" + "<br>" + "{{j.cadres}}" + "<br>" + "{{ j.cname }}" + "<br> _________________________________");
                            {% endif %}

                        {% endfor %}

                        var countterminals = infolist.length;

                        (function (marker, infolist, countterminals) {
                            google.maps.event.addListener(marker, "click", function (e) {
                                infoWindow.setContent("<div style = 'width:250px;min-height:60px'>" + 
                                    '<p> Количество териналов: ' + countterminals + '</p> ' + 
                                    '_________________________________' + 
                                    infolist.join(' ') +
                                    "</div>");
                                infoWindow.open(map, marker);
                            });
                            })(marker, infolist, countterminals);
                    }

            {% endfor %}


            new MarkerClusterer(map, markers, {
                gridSize: 25,
                imagePath: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
              });
        }




    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_CpD9oSCYYDu92Jq8EiIGklCgyelDbiw&callback=initMap&libraries=&v=weekly"
        async
    ></script>

 </body>

</html>