{% extends "base.html" %}

{% block nav %}
    <a class="btn btn-outline-danger" href="/" role="button">Назад</a>
{% endblock nav %}

{% block content %}

<div class="filterform" id="filterform" style="display: block; background: #212529; color: #9e9e9e; height: 95%; overflow: auto; width: 23%;">        
    <div class="filter_form" id="id_filter_form">  
            <form method=POST action="" class="form-container" style=" align-items: center">
                {% csrf_token %}
                <table>
                    <div class="ui-widget">
                        <table>
                            {% for field in filterform %}
                              <tr>
                                  <td>{{field.label}}</td>
                                  <td>{{field}}</td>
                                  <td><button class="btn btn-outline-danger btn-sm" onclick="ClearFormField('{{field.id_for_label}}')">-</button></td>
                              </tr> 
                            {% endfor %}
                            <!-- {{filterform.as_table}} -->
                        </table>
                    </div>
                </table>
                    <button type="submit" class="btn btn-outline-success">Применить</button>
                    <button class="btn btn-outline-danger" onclick="clearfilters()">Сбросить</button>
            </form>
    </div>
</div>

{% endblock content %}

        {% block available %}

        try {
        var availableparts = '{{ availablecparta }}'.replace('[(&#x27;','')
        availableparts = availableparts.split("&#x27;,), (&#x27;")
        
        } catch {
            console.log('error availableparts')
        }

        try {
        var availablezones = '{{ availablezona_name }}'.replace('[(&#x27;','')
        availablezones = availablezones.split("&#x27;,), (&#x27;")
    
        } catch {
            console.log('error availablezones')
        }

        try {
        var availablenames = '{{ availablecname }}'.replace('[(&#x27;','')
        availablenames = availablenames.split("&#x27;,), (&#x27;")
        
        } catch {
            console.log('error availablenames')
        }   

        try {
        var availableinrs = '{{ availableinr }}'.replace('[(&#x27;','')
        availableinrs = availableinrs.split("&#x27;,), (&#x27;")
        
        } catch {
            console.log('error availableparts')
        }

        try {
        var availablegorod = '{{ availablecgorod }}'.replace('[(&#x27;','')
        availablegorod = availablegorod.split("&#x27;,), (&#x27;")
        
        } catch {
            console.log('error availablegorod')
        }

        try {
        var availablectids = '{{ availablectid }}'.replace('[(&#x27;','')
        availablectids = availablectids.split("&#x27;,), (&#x27;")
        
        } catch {
            console.log('error availablectids')
        }

        try {
        var availabletypes = '{{ availablectype }}'.replace('[(&#x27;','')
        availabletypes = availabletypes.split("&#x27;,), (&#x27;")
     
        } catch {
            console.log('error availabletypes')
        }

        try {
        var availablebanks = '{{ availablecbank }}'.replace('[(&#x27;','')
        availablebanks = availablebanks.split("&#x27;,), (&#x27;")
       
        } catch {
            console.log('error availablebanks')
        }

        try {
        var availablecunns = '{{ availablecunn }}'.replace('[(&#x27;','')
        availablecunns = availablecunns.split("&#x27;,), (&#x27;")
       
        } catch {
            console.log('error availablecunns')
        }

        try {
        var availablecvsobas = '{{ availablecvsoba }}'.replace('[(&#x27;','')
        availablecvsobas = availablecvsobas.split("&#x27;,), (&#x27;")
       
        } catch {
            console.log('error availablecvsobas')
        }

        try {
        var availablecpodr = '{{ availablecpodr }}'.replace('[(&#x27;','')
        availablecpodr = availablecpodr.split("&#x27;,), (&#x27;")
       
        } catch {
            console.log('error availablecpodr')
        }

        try {
        var availableadres = '{{ availablecadres }}'.replace('[(&#x27;','')
        availableadres = availableadres.split("&#x27;,), (&#x27;")
       
        } catch {
            console.log('error availableadres')
        }

        {% endblock available %}

