{% extends "base.html" %}

{% block nav %}
    <a class="btn btn-outline-danger" href="/" role="button">Назад</a>
{% endblock nav %}

{% block content %}

<div class="filterform" id="filterform" style="display: block; background: #212529; color: #9e9e9e; height: 95%; overflow: auto; width: 23%;">        
    <div class="filter_form" id="id_filter_form">  
            <form method=POST action="" class="form-container">
                {% csrf_token %}
                <table>
                    <div class="ui-widget">
                            {{ filterform.as_table }}
                    </div>
                </table>
                    <button type="submit" class="btn btn-outline-success">Применить</button>
                    <button class="btn btn-outline-danger" onclick="clearfilters()">Сбросить</button>
            </form>
    </div>
</div>

{% endblock content %}

