{% extends "base.html" %}

{% block nav %}
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="width: 0px;">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
                {% if search_name == "" %}
                    Название терминала
                {% else %}
                    {{search_name}}
                {% endif %} 
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {% for key, value in terminal_names %}
                    <li><a class="dropdown-item" href="javascript:addParam('{{ key }}', '','', true);">{{ key }} : {{ value }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if search_parta == "" %}
                    Название партнера
                {% else %}
                    {{ search_parta }}
                {% endif %}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <div class="ui-widget" style="width: 150px">
                    <input id="parts" style="width: 300px;" placeholder="Поиск по партнерам" onchange="addParam('',document.getElementById('parts').value,'', false)">
                </div>
                {% for key, value in terminal_parts %}
                    <li><a class="dropdown-item" href="javascript:addParam('','{{key}}','', true);">{{ key }} : {{ value }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if search_zone == "" %}
                    Название зоны
                {% else %}
                    {{ search_zone }}
                {% endif %}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="width: 300px;">
                <form method="POST">
                    {% csrf_token %}
                    <div class="zone_form">
                        {% for key, value in terminal_zones %}
                        <!--<li><a class="dropdown-item" href="javascript:addParam('','','{{key}}', true);">{{ key }} : {{ value }}</a></li>-->
                            <li>                        
                                <input type="checkbox" name="zones" value= {{key}}> {{key }} : {{ value }}     
                            </li>
                        {% endfor %}
                        <button type="submit">Submit</button>
                        <a type="submit" class="btn btn-outline-success" href="/search">Применить</a>
                    </div>
                </form>
                
              </ul>
            </li>
          </ul>
        </div>

        <a class="btn btn-outline-success" id="filter_button" href="filter/" role="button" >Фильтр</a>
{% endblock nav %}


{% block content %}



{% endblock content %}


{% block clearbutton %}
    <a class="btn btn-outline-danger" href="javascript:clearHref();" role="button" style="float: right;">Сбросить </a>
{% endblock clearbutton %}
