<!DOCTYPE html>
<html>
    <head>
        <title>Tusson</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
        </head>

    <body>
    <div id="map"></div>

    <script type="text/javascript">
        let map;
        var markers = [];
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 53.904789501846196, lng: 27.553534868069242 },
            zoom: 6,
        });

            {% for i in terminals %}

               // {% if i.lat != 'exist' and i.lng != 'exist' %}

                    var infoWindow = new google.maps.InfoWindow();
                    var marker = new google.maps.Marker({
                        map : map,
                        position : {lat: parseFloat('{{ i.lat }}'), lng: parseFloat('{{ i.lng }}')},
                        title : '{{ i.ctid }}'
                    });
                    markers.push(marker);

                    var infolist = ["<p> " + "{{ i.ctid }}" + " </p> " + "{{ i.cname }}" + "<br> _________________________________"];
                    var cadres = "{{ i.cadres }}";

                    {% for j in existterminals %}

                        {% if i.cadres == j.cadres %}
                            infolist.push(" <p> " + "{{ j.ctid }}" + " </p> " + "{{ j.cname }}" + "<br> _________________________________");
                        {% endif %}

                    {% endfor %}

                    var countterminals = infolist.length;

                    (function (marker, cadres, infolist, countterminals) {
                        google.maps.event.addListener(marker, "click", function (e) {
                            infoWindow.setContent("<div style = 'width:250px;min-height:60px'>" + 
                                '<p> Количество териналов: ' + countterminals + '</p> ' + 
                                cadres + '<br> _________________________________' + 
                                infolist.join(' ') +
                                "</div>");
                            infoWindow.open(map, marker);
                        });
                        })(marker, cadres, infolist, countterminals);
                        
             //   {% endif %}

            {% endfor %}

            new MarkerClusterer(map, markers, {
                gridSize: 25,
                imagePath: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
              });
        }

    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_CpD9oSCYYDu92Jq8EiIGklCgyelDbiw&callback=initMap&libraries=&v=weekly"
        async
    ></script>

    </body>
</html>

<style type="text/css">
    #map {
    height: 100%;
    }

    html,
    body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
</style>