<!DOCTYPE html>
<html>
    <head>
        <title>Simple Map</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        </head>

    <body>
    <div id="map"></div>

    <!— Async script executes immediately and must be after any DOM elements used in callback. —>

    <script type="text/javascript">
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 53.904789501846196, lng: 27.553534868069242 },
            zoom: 6,
        });

        {% for i in terminals %}
        console.log('{{ i.lat }}')
        var marker = new google.maps.Marker({
            map : map,
            position : {lat: parseFloat('{{ i.lat }}'), lng: parseFloat('{{ i.lng }}')},
            title : '<h3>Ctid</h3> <p>{{ i.ctid }}</p>'
        });

        {% endfor %}

        }
    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_CpD9oSCYYDu92Jq8EiIGklCgyelDbiw&callback=initMap&libraries=&v=weekly"
        async
    ></script>

    </body>
</html>

<style type="text/css">
    #map {
    height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
</style>